
    <ul class="nav-list ">
      <li><a href="#general-api-information">General API Information</a></li>
      <li><a href="#http-return-codes">HTTP Return Codes</a></li>
      <li><a href="#error-codes">Error Codes</a></li>
      <li><a href="#general-information-on-endpoints">General Information on Endpoints</a>
        <ul class="nav-list ">
          <li><a href="#limits">LIMITS</a></li>
          <li><a href="#endpoint-security-type">Endpoint security type</a></li>
          <li><a href="#signed-trade-and-user_data-endpoint-security">SIGNED (TRADE and USER_DATA) Endpoint security</a></li>
          <li><a href="#timing-security">Timing security</a></li>
          <li><a href="#signed-endpoint-examples-for-post-openapiv1order">SIGNED Endpoint Examples for POST /openapi/v1/order</a>
            <ul class="nav-list ">
              <li><a href="#example-1-as-a-query-string">Example 1: As a query string</a></li>
              <li><a href="#example-2-as-a-request-body">Example 2: As a request body</a></li>
              <li><a href="#example-3-mixed-query-string-and-request-body">Example 3: Mixed query string and request body</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#public-api-endpoints">Public API Endpoints</a>
        <ul class="nav-list ">
          <li><a href="#terminology">Terminology</a></li>
          <li><a href="#enum-definitions">ENUM definitions</a></li>
          <li><a href="#general-endpoints">General endpoints</a>
            <ul class="nav-list ">
              <li><a href="#test-connectivity">Test connectivity</a></li>
              <li><a href="#check-server-time">Check server time</a></li>
              <li><a href="#exchange-information">Exchange information</a></li>
            </ul>
          </li>
          <li><a href="#wallet-endpoints">Wallet endpoints</a>
            <ul class="nav-list ">
              <li><a href="#all-coins-information-user_data">All Coins' Information (USER_DATA)</a></li>
              <li><a href="#deposit-address-user_data">Deposit Address (USER_DATA)</a></li>
              <li><a href="#withdrawuser_data">Withdraw(USER_DATA)</a></li>
              <li><a href="#deposit-history-user_data">Deposit History (USER_DATA)</a></li>
              <li><a href="#withdraw-history-user_data">Withdraw History (USER_DATA)</a></li>
            </ul>
          </li>
          <li><a href="#market-data-endpoints">Market Data endpoints</a>
            <ul class="nav-list ">
              <li><a href="#order-book">Order book</a></li>
              <li><a href="#recent-trades-list">Recent trades list</a></li>
              <li><a href="#klinecandlestick-data">Kline/Candlestick data</a></li>
              <li><a href="#24hr-ticker-price-change-statistics">24hr ticker price change statistics</a></li>
              <li><a href="#symbol-price-ticker">Symbol price ticker</a></li>
              <li><a href="#symbol-order-book-ticker">Symbol order book ticker</a></li>
              <li><a href="#current-average-price">Current average price</a></li>
              <li><a href="#cryptoasset-trading-pairs">Cryptoasset trading pairs</a></li>
            </ul>
          </li>
          <li><a href="#account-endpoints">Account endpoints</a>
            <ul class="nav-list ">
              <li><a href="#new-order--trade">New order  (TRADE)</a></li>
              <li><a href="#test-new-order-trade">Test new order (TRADE)</a></li>
              <li><a href="#query-order-user_data">Query order (USER_DATA)</a></li>
              <li><a href="#cancel-order-trade">Cancel order (TRADE)</a></li>
              <li><a href="#cancel-all-open-orders-on-a-symbol-trade">Cancel All Open Orders on a Symbol (TRADE)</a></li>
              <li><a href="#current-open-orders-user_data">Current open orders (USER_DATA)</a></li>
              <li><a href="#history-orders-user_data">History orders (USER_DATA)</a></li>
              <li><a href="#account-information-user_data">Account information (USER_DATA)</a></li>
              <li><a href="#account-trade-list-user_data">Account trade list (USER_DATA)</a></li>
              <li><a href="#withdraw-to-coins_ph-account-user_data">withdraw (to coins_ph account) (USER_DATA)</a></li>
              <li><a href="#deposit-to-xyz-account-user_data">deposit (to xyz account) (USER_DATA)</a></li>
              <li><a href="#withdraw-order-history-withdrawal-order-which-withdraw-from-exchange-to-coins_ph-user_data">withdraw order history (withdrawal order which withdraw from exchange to coins_ph) (USER_DATA)</a></li>
              <li><a href="#deposit-order-historydeposit-order-which-deposit-from-coins_ph-to-exchange-user_data">deposit order history(deposit order which deposit from coins_ph to exchange) (USER_DATA)</a></li>
              <li><a href="#trade-fee-user_data">Trade Fee (USER_DATA)</a></li>
              <li><a href="#query-balance-user_data">query balance (USER_DATA)</a></li>
              <li><a href="#transfers-query-user_data">query transfers (USER_DATA)</a></li>
              <li><a href="#transfers-user_data">transfers (USER_DATA)</a></li>
            </ul>
          </li>
          <li><a href="#user-data-stream-endpoints">User data stream endpoints</a>
            <ul class="nav-list ">
              <li><a href="#start-user-data-stream-user_stream">Start user data stream (USER_STREAM)</a></li>
              <li><a href="#keepalive-user-data-stream-user_stream">Keepalive user data stream (USER_STREAM)</a></li>
              <li><a href="#close-user-data-stream-user_stream">Close user data stream (USER_STREAM)</a></li>
            </ul>
          </li>
          <li><a href="#filters">Filters</a>
            <ul class="nav-list ">
              <li><a href="#symbol-filters">Symbol filters</a>
                <ul class="nav-list ">
                  <li><a href="#price_filter">PRICE_FILTER</a></li>
                  <li><a href="#percent_price">PERCENT_PRICE</a></li>
                  <li><a href="#percent_price_sa">PERCENT_PRICE_SA</a></li>
                  <li><a href="#percent_price_by_side">PERCENT_PRICE_BY_SIDE</a></li>
                  <li><a href="#percent_price_index">PERCENT_PRICE_INDEX</a></li>
                  <li><a href="#percent_price_order_size">PERCENT_PRICE_ORDER_SIZE</a></li>
                  <li><a href="#static_price_range">STATIC_PRICE_RANGE</a></li>
                  <li><a href="#lot_size">LOT_SIZE</a></li>
                  <li><a href="#notional">NOTIONAL</a></li>
                  <li><a href="#max_num_orders">MAX_NUM_ORDERS</a></li>
                  <li><a href="#max_num_algo_orders">MAX_NUM_ALGO_ORDERS</a></li>
                </ul>
              </li>
              <li><a href="#exchange-filters">Exchange Filters</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

