
      <ul>
        <li><a href="#general-wss-information">General WSS information</a></li>
        <li><a href="#api-endpoints">API Endpoints</a>
          <ul>
            <li><a href="#create-a-listenkey">Create a listenKey</a></li>
            <li><a href="#pingkeep-alive-a-listenkey">Ping/Keep-alive a listenKey</a></li>
            <li><a href="#close-a-listenkey">Close a listenKey</a></li>
          </ul>
        </li>
        <li><a href="#web-socket-payloads">Web Socket Payloads</a>
          <ul>
            <li><a href="#account-update">Account Update</a></li>
            <li><a href="#balance-update">Balance Update</a></li>
            <li><a href="#order-update">Order Update</a></li>
          </ul>
        </li>
      </ul>
 