<ul>
    <li><a href="#general-wss-information">General WSS information</a>
      <ul>
        <li><a href="#websocket-limits">Websocket Limits</a></li>
        <li><a href="#live-subscribingunsubscribing-to-streams">Live Subscribing/Unsubscribing to streams</a>
          <ul>
            <li><a href="#subscribe-to-a-stream">Subscribe to a stream</a></li>
            <li><a href="#unsubscribe-to-a-stream">Unsubscribe to a stream</a></li>
            <li><a href="#listing-subscriptions">Listing Subscriptions</a></li>
            <li><a href="#error-messages">Error Messages</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#detailed-stream-information">Detailed Stream information</a>
      <ul>
        <li><a href="#aggregate-trade-streams">Aggregate Trade Streams</a></li>
        <li><a href="#trade-streams">Trade Streams</a></li>
        <li><a href="#klinecandlestick-streams">Kline/Candlestick Streams</a></li>
        <li><a href="#individual-symbol-mini-ticker-stream">Individual Symbol Mini Ticker Stream</a></li>
        <li><a href="#all-market-mini-tickers-stream">All Market Mini Tickers Stream</a></li>
        <li><a href="#individual-symbol-ticker-streams">Individual Symbol Ticker Streams</a></li>
        <li><a href="#all-market-tickers-stream">All Market Tickers Stream</a></li>
        <li><a href="#individual-symbol-book-ticker-streams">Individual Symbol Book Ticker Streams</a></li>
        <li><a href="#all-book-tickers-stream">All Book Tickers Stream</a></li>
        <li><a href="#partial-book-depth-streams">Partial Book Depth Streams</a></li>
        <li><a href="#diff-depth-stream">Diff. Depth Stream</a></li>
        <li><a href="#how-to-manage-a-local-order-book-correctly">How to manage a local order book correctly</a></li>
      </ul>
    </li>
  </ul>